<app-top-menu></app-top-menu>
<main class="wrapper">

    <div class="cards-grid">
        
        <app-card [gameCover]="gamebf1.gameCover" 
        [gameName]="gamebf1.gameName" 
        [gamePrice]="gamebf1.gamePrice" 
        [gameTag]="gamebf1.gameTag" 
        [gameType]="gamebf1.gameType" ></app-card>

        <app-card [gameCover]="gamebf4.gameCover" 
        [gameName]="gamebf4.gameName" 
        [gamePrice]="gamebf4.gamePrice" 
        [gameTag]="gamebf4.gameTag" 
        [gameType]="gamebf4.gameType" ></app-card>

        <app-card [gameCover]="gamebf5.gameCover" 
        [gameName]="gamebf5.gameName" 
        [gamePrice]="gamebf5.gamePrice" 
        [gameTag]="gamebf5.gameTag" 
        [gameType]="gamebf5.gameType" ></app-card>

    </div>

</main>